<div class="container">
    <nav>
        <div class="primary-section">
            <h3> NOVA ADMISSÃO COOPERADO </h3>
            <p>Cadastro / Admissão do Cooperado / Nova Admissão do Cooperado</p>
        </div>

        <div class="secondy-section">
            <a href="">
                <i class="fa fa-bell-o fa-2x" aria-hidden="true"></i>
            </a>
            <button class="btn btn-rounded">VIACREDI</button>
            <a href="">
                <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
            </a>
        </div>
    </nav>
    <main>
        <ng-content></ng-content>
    </main>
    <div id="sidebar">
        <div class="menus">
            <img [src]="'./../../assets/logo.svg'" alt="User Logo" class="logo-brand">
            <a class="icon-blue" (click)="showMenu()">
                <i class="fa fa-bars fa-2x"></i>
            </a>
            <a class="icon-white"><i class="fa fa-search fa-2x fa-icon" aria-hidden="true"></i></a>
            <a class="icon-white"><i class="fa fa-star-o fa-2x fa-icon" aria-hidden="true"></i></a>
            <a class="icon-white"><i class="fa fa-commenting-o fa-2x fa-icon" aria-hidden="true"></i></a>
            <a class="icon-white"><i class="fa fa-tasks fa-2x fa-icon" aria-hidden="true"></i></a>
            <a class="icon-white"><i class="fa fa-university fa-2x fa-icon" aria-hidden="true"></i></a>
        </div>
    </div>
    <footer>
        <button *ngIf="customer$ | async as customer" class="btn btn-dicas-primary">Iniciar nova admissão</button>
        <button class="btn btn-dicas-secondary">Dicas para Admissão</button>
    </footer>
</div>