<div class="container">
    <nav>
        <div class="primary-section">
            <h3> NOVA ADMISSÃO COOPERADO </h3>
            <p>Cadastro / Admissão do Cooperado / Nova Admissão do Cooperado</p>
        </div>

        <div class="secondy-section">
            <img [src]="'./../../assets/logo.svg'" alt="User Logo" class="logo">
            <button class="btn btn-rounded">VIACREDI</button>
            <img [src]="'./../../assets/logo.svg'" alt="User Logo" class="logo">
        </div>
    </nav>
    <main>Main</main>
    <div id="sidebar">
        <div class="menus">
            <img [src]="'./../../assets/logo.svg'" alt="User Logo" class="logo">

            <a class="icon" (click)="showMenu()">
                <i class="fa fa-bars"></i>
            </a>

            <span>Search</span>
            <span>Stars</span>
            <span>Message</span>
            <span>Config</span>
            <span>Home</span>
        </div>
    </div>
    <footer>
        <button class="btn btn-dicas">Dicas para Admissão</button>
    </footer>
</div>