.lds-dual-ring {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 7rem 0 0 0rem;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #195C7A transparent #195C7A transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.text-position{
    display: inline-block;
    width: 9rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 3rem 0 0 -3rem;
    color: #195C7A;
}